{% extends 'myapp/base.html' %}
  
  {% block content %}
  <h3>สินค้าทั้งหมดของเรา</h3>
  <p>คุณสามารถเลือกรายการสินค้าทั้งหมดที่มีจากร้านเราได้</p>
  {%for pd in product%}
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{pd.imageurl}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{pd.name}}</h4>
      <p class="card-text">{{pd.price}}</p>
      <p class="card-text">{{pd.detail}}</p>
    </div>
  </div>

  {%endfor%}  

  {% endblock content %}
