{% extends 'myapp/base.html' %}
  
  {% block content %}
  <div class="row">
    <div class="col-sm-4">
      <h3>{{product1}}</h3>
      <img src="https://img.kapook.com/u/tawutchai/android/Android_robot.png" width="250">
      <p>ระบบปฏิบัติการ Android</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>{{product2}}</h3>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/IOS_logo.svg/300px-IOS_logo.svg.png" width="250">
      <p>ระบบปฏิบัติการ iOS</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>{{product3}}</h3>
      <img src="https://hd2.tudocdn.net/871060?w=550&h=550" width="250">        
      <p>ระบบปฏิบัติการ Harmony</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
  {% endblock content %}

